<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Welcome to {{title}}!
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card col-5 mx-auto">
        <div class="card-body">
          <h3 class="card-title">Signup</h3>
          <signup-form></signup-form>
        </div>
      </div>
    </div>
  </div>
</div>