
<form [formGroup]="inputFormControl" (ng-submit)=formSubmit(inputFormControl.value)>
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control" formControlName="username" required>
      <div class="form-error form-username-error" *ngIf="usernameLookup"> 
        This username is not available 
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" formControlName="email" required>
      <div class="form-error form-email-error" *ngIf="emailLookup"> This is not correct email</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="text" class="form-control" min="8" formControlName="password" required>
      <div class="form-error form-password-error" *ngIf="passwordLookup"> Password should have at least 8 characters including one uppercase, one lowercase and one number</div>
    </div>
    <div class="form-group">
      <label>Repeat Password</label>
      <input type="password" name="password_match" class="form-control" formControlName="passwordCheck" required>
      <div class="form-error form-password_match-error" *ngIf="repeatpasswordLookup">Passwords should match</div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-default btn-block" value="Signup">
    </div>
  </form>